<div class="container">
  <h3 class="title">編集する</h3>
  <%= bootstrap_form_for (@blog) do |f| %>
  <div class="form">
      <%= f.text_field :title %>
    <p>本文<span class="mark-down">(マークダウン記法でも書けます)</span></p>
      <%= f.text_area :text, :rows => 18, :cols => 45 %>
  </div>
  <%= f.submit %>
  <% end %>
</div>

