<div class="my-page">
  <div class="wrapper">
    <h4 class="title">
      <%= @user.name %> さんのページ
    </h4>
    <div class="text">
      <%= render "blogs/blog"%>
    </div>
  </div>
</div>
<div class="title">
  ノマド
</div>
