.fa-apple-alt{
  padding-left: 20px;
}
.home-body{
  width: 100vw;
  height: 100vh;
  // background-image: url("http://motoki-y.sakura.ne.jp/kabegami/199/b.gif");
  // background-size: cover;
  .top-title{
    width:900px;
    text-align: center;
    margin: 200px auto;
    padding: 50px;
    font-style: oblique;
    font-size: 180px;
    background-image: url("http://motoki-y.sakura.ne.jp/kabegami/199/b.gif");
    }
}
